<mat-card class="target-settings-card">
  <mat-card-header>
    <mat-card-title>🔧 Water Pump Settings</mat-card-title>
  </mat-card-header>
  <ng-container *ngIf="isLoading; else waterPumpSettings">
    <app-loader></app-loader>
  </ng-container>
<ng-template #waterPumpSettings>
<div class="automation-wrapper">
  <div class="limits-section" >
    <h3>Water Pump Timings</h3>
    <div class="limit-row">
      <span class="limit-label">Water Pump On Time</span>
      <div class="limit-controls">
        <button mat-mini-fab color="warn" aria-label="Decrease" (click) = "changeOnTime(false)">
          <mat-icon>remove</mat-icon>
        </button>
        <input matInput type="number" class="value-display" step = "10" [ngModel] = "onTimeSeconds()" disabled/>
        <button mat-mini-fab color="primary" aria-label="Increase" (click) = "changeOnTime(true)">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
		  <div class="limit-row">
      <span class="limit-label">Water Pump Off Time</span>
      <div class="limit-controls">
        <button mat-mini-fab color="warn" aria-label="Decrease" (click) = "changeOffTime(false)">
          <mat-icon>remove</mat-icon>
        </button>
        <input matInput type="number" class="value-display" step = "10" [ngModel] = "offTimeSeconds()" disabled/>
        <button mat-mini-fab color="primary" aria-label="Increase" (click) = "changeOffTime(true)">
          <mat-icon>add</mat-icon>
        </button>
        <span>{{waterPump.offTime | millisecondsToTime}}</span>
      </div>
    </div>
    <div class = "save-button-container">
      <button mat-raised-button color="primary" (click)="updatewaterPumpSettings()">
        <mat-icon>save</mat-icon> Save Settings
      </button>
    </div>
  </div>
</div>
</ng-template>
