<mat-card class="target-settings-card">
  <mat-card-header>
    <mat-card-title>🔧 Pumps</mat-card-title>
  </mat-card-header>
<ng-container *ngIf="isLoading; else pumpControl">
	<app-loader></app-loader>
</ng-container>
<ng-template #pumpControl>
	<div class="automation-wrapper">
  <div class="limits-section" *ngFor="let pump of pumpStatusData | keyvalue">
    <h3>{{pump.key}}</h3>
    <div class="limit-row" *ngFor="let item of pump.value | keyvalue">
      <span class="limit-label">{{item.key | titlecase}}</span>
      <div class="limit-controls">
        <button mat-mini-fab color="warn" aria-label="Decrease" *ngIf="item.key == 'duration'" (click)="decreasePumpDuration(pump.key)">
          <mat-icon>remove</mat-icon>
        </button>
        <input matInput class="value-display" [ngModel] = "typeof(item.value) === 'number' ? onSeconds(item.value) : item.value" disabled/>
        <button mat-mini-fab color="primary" aria-label="Increase" *ngIf="item.key == 'duration'" (click)="incrementPumpDuration(pump.key)">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>
  <div class = "save-button-container">
  <button mat-raised-button color="primary" (click)="updateNutrientPumpDurations()">
    <mat-icon>save</mat-icon> Save Settings
  </button>
</div>
</div>
</ng-template>
