:host {
  display: block;
  height:100%;
}

html, body {
  height: 100%;
  margin: 0;
}

.limits-card{
  height:100%;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 16px;
}

.dashboard-section {
  flex: 2;
  min-width: 60%;
}

.dashboard-side {
  flex: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}


.dashboard-grid {
  height:100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; /* elemanlar arası boşluk */
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.sensor-card {
  text-align: center;
  padding: 10px;
  border-radius: 12px;
  min-height: 100px;
  max-width: 250px;
  position: relative;
  max-height:200px;

  &.temperature {
    background: #fff3e0;
    color: #ef6c00;
  }

  &.ph {
    background: #e8f5e9;
    color: #43a047;
  }

  &.ec {
    background: #e3f2fd;
    color: #1e88e5;
  }

  &.environmentTemp {
    background: #fce4ec;
    color: #d81b60;
  }

  &.humidity {
    background: #e3f2fd;
    color: #1e88e5;
  }

  &.waterTemp {
    background: #e8f5e9;
    color: #43a047;
  }

  &.lightLevel {
    background: #fff3e0;
    color: #ef6c00;
  }

  .sensor-value {
    font-size: 2.2rem;
    font-weight: bold;
    margin-top: 0.5rem;
  }
}

.mat-mdc-card-content:last-child {
  padding-bottom: 0;
}
mat-card-content{
  border-radius: 0 0 16px 16px;
}

@media (max-width: 768px) {
      .dashboard-grid {
        grid-template-columns: repeat(2, 1fr); /* Orta ekranlarda 2 sütun */
      }
    }

    @media (max-width: 480px) {
      .dashboard-grid {
        grid-template-columns: 1fr; /* Küçük ekranlarda tek sütun */
      }
    }

  .sensor-card {
  position: relative;
  }

   .status-on {
    background: #4caf50; /* Red for OFF */
    color: #FFFAEF;
  }

  .status-off { 
    background: #D11D27; /* Red for OFF */
    color: #FFFAEF;
  }

.sensor-card-title {
  /* This will stay at the top */
  position: relative;
  z-index: 1;
}

.sensor-card-content {
  /* This will be exactly centered */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
} 

.status-icon {
  transform: scale(2);
}
.pump-card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}