<mat-card class="target-settings-card">
  <mat-card-header>
    <mat-card-title><mat-icon>dashboard</mat-icon> Dashboard</mat-card-title>
  </mat-card-header>
<ng-container *ngIf="isLoading; else dashboard">
	<app-loader></app-loader>
</ng-container>
<ng-template #dashboard>
  <div class="dashboard-grid">

    <mat-card class="sensor-card ph">
      <mat-card-title>pH Level</mat-card-title>
      <mat-card-content>
        <div class="sensor-value">{{ sensorData.ph | number:'1.2-2' }}</div>
      </mat-card-content>
    </mat-card>

    <mat-card class="sensor-card ec">
      <mat-card-title>EC Level</mat-card-title>
      <mat-card-content>
        <div class="sensor-value">{{ sensorData.ec | number:'1.2-2' }} μS/cm</div>
      </mat-card-content>
    </mat-card>

    <div class = "pump-status-container">
      <mat-card class="pump-status-card" *ngFor="let pump of pumpNames; index as i">
        <mat-card-header>
          <mat-card-title>{{ pumpLabels[i] }}</mat-card-title>
        </mat-card-header>
          <mat-card-content [ngClass]="pumpStatusData[pump].isRunning ? 'status-on' : 'status-off'">
          <div class="status-container">
            <mat-icon 
              class="status-icon"
              aria-hidden="false" 
              aria-label="Example home icon" 
              fontIcon="power_settings_new"
            ></mat-icon>
            <div class="status-text">
              <div class="status-label">
                {{pumpStatusData[pump].isRunning ? "ON" : "OFF"}}
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</ng-template>

<!-- 
<div class="dashboard-container">
  <div class="dashboard-section"> -->
    <!-- <app-charts></app-charts> -->
    <!-- <app-pump-control></app-pump-control>
    <app-target-settings></app-target-settings>
  </div> -->

  <!-- <div class="dashboard-side">
    <app-pump-control></app-pump-control>
    <app-target-settings></app-target-settings>
  </div> -->

  <!-- <app-bottom-navbar></app-bottom-navbar>
</div> -->
