<mat-card class="target-settings-card">
  <mat-card-header>
    <mat-card-title>🔧 Target Settings</mat-card-title>
  </mat-card-header>
  <ng-container *ngIf="isLoading; else targetSettings">
    <app-loader></app-loader>
  </ng-container>
<ng-template #targetSettings>
<div class="automation-wrapper">
  <div class="limits-section">
    <h3>pH</h3>
    <div class="limit-row" *ngFor="let item of values.Ph | keyvalue">
      <span class="limit-label">sa</span>
      <div class="limit-controls">
        <button mat-mini-fab color="warn" aria-label="Decrease">
          <mat-icon>remove</mat-icon>
        </button>
        <input matInput type="number" class="value-display"/>
        <button mat-mini-fab color="primary" aria-label="Increase">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>
    <div class="limits-section">
    <h3>EC</h3>
    <div class="limit-row" *ngFor="let item of values.Ec | keyvalue">
      <span class="limit-label">sa</span>
      <div class="limit-controls">
        <button mat-mini-fab color="warn" aria-label="Decrease">
          <mat-icon>remove</mat-icon>
        </button>
        <input matInput type="number" class="value-display"/>
        <button mat-mini-fab color="primary" aria-label="Increase">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
</ng-template>
