.calibration-container {
  text-align: center;
  padding: 2rem;

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .ph-value {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #3f51b5;
  }
	.ph-voltage {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: #3fb551;
  }

  .calibration-options {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}
