<mat-card class="target-settings-card">
  <mat-card-header>
    <mat-card-title>🔧 Light Source Settings</mat-card-title>
  </mat-card-header>
  <ng-container *ngIf="isLoading; else lightSourceSettings">
    <app-loader></app-loader>
  </ng-container>
<ng-template #lightSourceSettings>
<div class="automation-wrapper">
  <div class="limits-section" >
    <h3>Light Source Timings</h3>
    <div class="limit-row">
      <span class="limit-label">Light Source On Time</span>
      <div class="limit-controls">
        <button mat-mini-fab color="warn" aria-label="Decrease" (click)="changeValue(true, -1)">
          <mat-icon>remove</mat-icon>
        </button>
        <input matInput type="number" class="value-display" [ngModel]="values.onTime"/>
        <button mat-mini-fab color="primary" aria-label="Increase" (click)="changeValue(true, 1)">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
		  <div class="limit-row">
      <span class="limit-label">Light Source Off Time</span>
      <div class="limit-controls">
        <button mat-mini-fab color="warn" aria-label="Decrease" (click)="changeValue(false, -1)">
          <mat-icon>remove</mat-icon>
        </button>
        <input matInput type="number" class="value-display" [ngModel]="values.offTime"/>
        <button mat-mini-fab color="primary" aria-label="Increase" (click)="changeValue(false, 1)">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
</ng-template>
