<mat-card class="target-settings-card">
  <mat-card-header>
    <mat-card-title>🔧 Light Source Settings</mat-card-title>
  </mat-card-header>
  <ng-container *ngIf="isLoading; else lightSourceSettings">
    <app-loader></app-loader>
  </ng-container>
<ng-template #lightSourceSettings>
<div class="automation-wrapper">
  <div class="limits-section" >
    <h3>Light Source Timings</h3>
    <div class="limit-row">
      <span class="limit-label">Light Source On Time</span>
      <div class="limit-controls">
        <button mat-mini-fab color="warn" aria-label="Decrease" (click) = "changeOnTime(false)">
          <mat-icon>remove</mat-icon>
        </button>
        <input matInput type="number" class="value-display" step = "10" [(ngModel)] = "onTimeMinutes" disabled/>
        <button mat-mini-fab color="primary" aria-label="Increase" (click) = "changeOnTime(true)">
          <mat-icon>add</mat-icon>
        </button>
        <span>{{showTimeInHours(lightSource.onTime) | number:'1.1-2'}} hours</span>
      </div>
    </div>
		  <div class="limit-row">
      <span class="limit-label">Light Source Off Time</span>
      <div class="limit-controls">
        <button mat-mini-fab color="warn" aria-label="Decrease" (click) = "changeOffTime(false)">
          <mat-icon>remove</mat-icon>
        </button>
        <input matInput type="number" class="value-display" step = "10" [(ngModel)] = "offTimeMinutes" disabled/>
        <button mat-mini-fab color="primary" aria-label="Increase" (click) = "changeOffTime(true)">
          <mat-icon>add</mat-icon>
        </button>
        <span>{{showTimeInHours(lightSource.offTime) | number:'1.1-2'}} hours</span>
      </div>
    </div>
    <div class = "save-button-container">
      <button mat-raised-button color="primary" (click)="updateLightSourceSettings()">
        <mat-icon>save</mat-icon> Save Settings
      </button>
    </div>
  </div>
</div>
</ng-template>
